# Data Science Tools And Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>Julia</li>
    <li>Scala</li>

<table>
    <tr>
    <th>
        Data Science Tools
    </th>
    </tr>
    <tr>
        <td>
        Jupyter Notebook
        </td>
    </tr>
    <tr>
        <td>
        R Studio
        </td>
    </tr>
    <tr>
        <td>
        Apache Zepplin
        </td>
    </tr>
    </table>

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
220/60

3.6666666666666665

<b>Objectives:</b>
<ol>
    <li>List popular languages for Data Science</li>
    <li>Development Environments For Data Science</li>
    <li>Github</li>
    </ol>

## Author
Anish Nepal